<% include template/header %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="typeahead.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('input.typeahead').typeahead({
            name: 'countries',
            remote: 'http://localhost:3000/search?key=%QUERY',
            limit: 10
        });
    });
</script>
<table width="80%" height="70%" align="center" cellspacing="0" cellpadding="10" border="1" bgcolor="white">
    <tr><td>
        <fieldset>
         <legend>List of Medicines</legend>
          <form method="POST">
                <input type="submit" value="SEARCH"/>
                <input name="search" value="<?= $searchKey ?>"/> By
                <select name="search_by">
                    <option <?= $searchBySelected["Any"] ?>>Any</option>
                    <option <?= $searchBySelected["medName"] ?>>Name</option>
                    <option <?= $searchBySelected["id"] ?>>Id</option>
                </select>
          </form>
        <table width="80%" height="80%" border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Indication</th>
            <th>Generic</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <% medicineList.forEach(function(medicine){ %>
        <tr>
            <td><%= medicine.id %></td>
            <td><%= medicine.med_name %></td>
            <td><%= medicine.indication %></td>
            <td><%= medicine.generic %></td>
            <td><%= medicine.price %></td>
            <td><%= medicine.quantity %></td>
        </tr>
        <% }) %>
        <?php }
         ?>
        </table>
        </fieldset>
    </td></tr>
</table>
<% include template/footer %>
